.headinglink {
    text-align: center;
    font-size: 40pt;
    font-weight: bold;
    color: #666666;
}
.mosthtml {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
html {
    font-family: Arial;
    background-color: #ffcccc;
     animation: fadein 3s;
    animation: dropin 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}
.homepage {
    text-align: center;
}
#headerimage {
    width: 15%;
    display: block;
}
.bghomepage {
    width: 99%;
}
.footer {
    width: 100%;
}
p {
    color: #666666;
}
.largerp {
    color: #666666;
    font-size: 20pt;
}
.boldp {
    color: #666666;
    font-size: 20pt;
    font-weight: bold;
}





@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}