.headinglink {
    text-align: center;
    font-size: 40pt;
    font-weight: bold;
    color: #666666;
}
html {
    font-family: Arial;
}
.homepage {
    text-align: center;
}
#headerimage {
    width: 15%;
    display: block;
    
    
}